

{% extends 'sidebar.html.twig' %}



{% block title %}
    <title>Modifier Depense</title>


{% endblock %}{% block menu %}{%endblock %}
{% block content %}
    <h4 style="color: #595959; font-size: 24px; font-weight: normal; margin-bottom: 20px;">Créer une nouvelle dépense</h4>
    <div class="content-wrapper" style="
    margin-top: 50px; ">

        {{ include('depense/_form.html.twig', {'button_label': 'editer'}) }}

    </div>
{% endblock %}

