
#depMoney{
    color: limegreen;
}
#tableau-container {
    max-height: 300px; /* Set the maximum height for the container */
    overflow-y: auto; /* Enable vertical scrolling */
}
/* Ensure table headers remain visible while scrolling */


#tableau {
    width: 100%; /* Ensure the table fills the container */
}
/* Style for pagination links */
/* Style for pagination links */
.custom-pagination .pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.custom-pagination .pagination span {
    display: inline-block;
    padding: 8px 16px; /* Adjust as needed */
    text-decoration: none;
    border: none;
    border-radius: 20px; /* Smoother border radius */
    color: #c0adfc; /* Text color */
    background-color: #ffffff; /* Button background color */
    cursor: pointer; /* Pointer cursor */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.custom-pagination .pagination span:hover:not(.active) {
    background-color: #c0adfc; /* Darker background color on hover */
    color: white; /* Text color on hover */
}

/* Style for active page link */
.custom-pagination .pagination .active span {
    background-color: #ffffff; /* Darker background color for active page */
    color: #c0adfc; /* Text color for active page */
}

/* Override default link color */
.custom-pagination .pagination span:hover,
.custom-pagination .pagination span:focus,
.custom-pagination .pagination span:active {
    color: #c0adfc; /* Text color */
    outline: none; /* Remove focus outline */
}

/* Style for disabled page link */
.custom-pagination .pagination .disabled span {
    color: #6c757d; /* Disabled page link text color */
    cursor: not-allowed; /* Cursor style */
}
#searchInput {

    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #ffffff;
    transition: border-color 0.3s ease;
}

/* Style for search input on focus */
#searchInput:focus {
    outline: none;
    border-color: #6c757d; /* Change border color when focused */
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    z-index: 9999; /* ensure the popup appears on top of other content */
}

/* public/css/popup.css */

.popup-content {
    background-color: #fff;
    border-radius: 5px;
    width: 50%;
    height: 50%;/* Adjust the width as desired */
    max-width: 600px; /* Set maximum width if needed */
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
}
#expensesChart {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#expensesChart {
    background-color: white;
}